@define-color base_bg #1a1b26;
@define-color base_bg_alpha rgba(26, 27, 38, 0.8);
@define-color base_bg_transparent transparent;
@define-color fg #c0caf5;
@define-color accent #7aa2f7;
@define-color urgent #f7768e;
@define-color success #9ece6a;
@define-color warning #e0af68;
@define-color disabled #565f89;
@define-color border #292e42;
