@define-color base_bg #272822;
@define-color base_bg_alpha rgba(39, 40, 34, 0.95);
@define-color base_bg_transparent rgba(39, 40, 34, 0.95);
@define-color fg #f8f8f2;
@define-color accent #a6e22e;
@define-color urgent #f92672;
@define-color success #a6e22e;
@define-color warning #e6db74;
@define-color disabled #75715e;
@define-color border #49483e;
