@define-color base_bg #1e1e2e;
@define-color base_bg_alpha rgba(30, 30, 46, 0.95);
@define-color base_bg_transparent rgba(30, 30, 46, 0.95);
@define-color fg #cdd6f4;
@define-color accent #cba6f7;
@define-color urgent #f38ba8;
@define-color success #a6e3a1;
@define-color warning #fab387;
@define-color disabled #6c7086;
@define-color border #313244;
