* {
    /* Solid Base */
    bg-solid:    #282828;
    
    /* Glass Base (90%) */
    bg-glass:    #282828E6;
    
    /* Default to Glass if not overridden */
    bg:          @bg-glass;
    
    fg:          #d5c4a1;
    accent:      #d9b487;
    accent-dim:  #d9b48726;
    border:      #d9b48733;
    disabled:    #a89984;
    urgent:      #c77b7b;
}
