@import url("/home/kazuto/.config/hyprland/hypr/theme/waybar-colors.css");

* {
    background-image: none;
    box-shadow: none;
    font-family: "JetBrains Mono Nerd Font", "JetBrains Mono", sans-serif;
    font-size: 16px;
    font-weight: normal;
}

window {
    background-color: alpha(@base_bg, 0.94);
    background: alpha(@base_bg, 0.94);
    opacity: 1.0;
}

button {
    background-color: @bg;
    color: @fg;
    border: 1px solid @disabled;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    margin: 5px;
    transition: all 0.2s ease;
}

button:hover {
    background-color: @accent;
    color: @bg;
    border: 1px solid @accent;
    transition: all 0.2s cubic-bezier(.55,0.0,.28,1.682);
}

#lock {
    background-image: image(url("/home/kazuto/.config/hyprland/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/kazuto/.config/hyprland/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/kazuto/.config/hyprland/wlogout/icons/pause.png"));
}

#hibernate {
    background-image: image(url("/home/kazuto/.config/hyprland/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/kazuto/.config/hyprland/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/kazuto/.config/hyprland/wlogout/icons/reboot.png"));
}
